@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header a {
  text-decoration: none;
}

header a img {
  display: inline-block;
  vertical-align: text-top;
  max-height: 70px;
  padding: 5px;
  margin: 15px;
}

header button {
  background-color: #fab2b3;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

main {
  background-color: #fab2b3;
}

.principal {
  text-align: center;
}

.imagen-principal {
  width: 65%;
  height: auto;
  margin: 10px 50px 10px 50px;
  border-radius: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer .container {
  padding: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.social-media a {
  text-decoration: none;
}

.social-link img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.social-link.page img {
  background-color: black;
  border: white solid 0.01px;
  border-radius: 50%;
}
